/* Selector{
    property: value;
} */
*{
    text-align: right;
}

body{
    background-image: url(background.jpg);
    background-size: cover;
}

h2, p{
    color: #AA4139 !important;
    text-align: center;
    border: 4px dashed rgba(255, 176, 170, 0.5);
    cursor: progress;
}

p{
    line-height: 30px;
    font-weight: bold;
    font-size: 120%;
    font-family: 'Poiret One', cursive;
}

img{
    float: left;
}

footer{
    clear: both;
    text-align: center;
}

li{
    list-style: none;
    display: inline-block;
}


.whatever:last-child{
    border: 5px dashed rgba(255, 176, 10, 0.5)
}

.anotherone{
    color: burlywood;
}

#div1{
    background: rgba(0,0,255, 0.4);
}
#div2{
    background: rgba(255,0,0, 0.2);
}